/* style.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0 20px;
}

header {
  margin-bottom: 20px; /* 下の余白を追加 */
  padding: 10px; /* 左右の余白を追加 */
  background-color: #f2f2f2; /* 背景色を追加 */
}

header nav {
  margin: 0; /* 左右の余白を削除 */
  padding: 0; /* 上下の余白を削除 */
  background-color: #fff; /* 背景色を追加 */
}

header h1 {
  margin: 0; /* 上下の余白を削除 */
  padding: 10px; /* 左右の余白を追加 */
  font-size: 36px; /* フォントサイズを指定 */
}

h1 {
  margin: 0;
  font-size: 24px;
  font-weight: normal;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav li {
  margin-left: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

nav a:hover {
  border-bottom: 2px solid #fff;
}

section {
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.image-container img {
  width: 200px;
  height: auto;
  margin-right: 10px;
}

.image-container p {
  margin: 0;
}

p {
  margin: 0;
  line-height: 1.5;
}
